---
layout: default
---
<article class="post">
  {% capture myimage %}{{- page.image -}}{% endcapture %}
  {% capture mydescription %}{{- page.title -}}{% endcapture %}
  {% capture mytop %}{{- page.top -}}{% endcapture %}
  {% include heroImage.html url=myimage description=mydescription top=mytop %}

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

  <div class="post-content">
    {{ content }}
  </div>

  {%- if page.title == 'Bodywork' -%}
  {%- for person in site.bodywork -%}
    <h2>
      <a href="{{ person.url }}">
        {{ person.name }}, {{ person.position }}
      </a>
    </h2>
    <div>{{ person.specialty }}</div>
    <p>{{ person.teaser | escape }}</p>
  {%- endfor -%}
  <br>
  {%- endif -%}

  {%- if page.title == 'Psychotherapy' -%}
  {% include filter.html %}
  {%- for person in site.psychotherapy -%}
  <div class="provider-wrap" data-insurance="{{ person.insurance }}">
    <h2>
      <a href="{{ person.url }}">
        {{ person.name }}, {{ person.position }}
      </a>
    </h2>
    {%- if person.any_availability -%}
      <p>❎ No availabilities at this time
    {%- else -%}
      <p>✅ {{ person.availability }}
    {%- endif -%}
    <p>{{ person.teaser | escape }}</p>
  </div>
  {%- endfor -%}
  <br>
  {%- endif -%}

  {% comment %}
  {%- if page.title == 'Events' and site.posts.size > 0 -%}
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | relative_url }}">via RSS</a></p>
  {%- endif -%}
  {% endcomment %}
</article>
